html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}

table { 
  border-collapse: collapse; 
  border-spacing: 0; 
}

td, th, caption { 
  font-weight: normal; 
  text-align: left; 
}

img, fieldset { 
  border: 0; 
}

ol { 
  padding-left: 1.4em; 
  list-style: decimal; 
}

ul { 
  padding-left: 1.4em;
  list-style:square; 
}

q:before, q:after { 
  content:''; 
}

body {
  font-weight: 100;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 940px;
}

.header {
	height: 800px;
	background: url(../img/header.jpeg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.header h1 {
  font-weight: 600;
  font-size: 130px;
  color: #fff;
  font-family: Arial, serif;
  text-transform: uppercase;
  padding-top: 230px;
  padding-bottom: 80px;
}

.header p {
  font-size: 30px;
  color: #fff;
  font-family: Arial, serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 50px;
}

.header a {
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-family: Arial, serif;
  letter-spacing: 1px;
  padding: 20px 20px;
  margin-top: 50px;
}

.header a:hover {
  background: #024FAB;
  cursor: pointer;
  transition: background .5s;
}

.nav .container {
  height: 80px;
  background-color: #000;
  text-align: center;
  /*padding: 0 10;*/
  margin: 0 auto;
  max-width: 100%;
}

.nav ul {
  list-style: none;
  padding: 0 10px;
}

.nav ul li {
  display: inline-block;
  line-height: 80px;
  padding: 0 20px 0 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;  
}

.nav ul li:hover {
  background: #024FAB;
  cursor: pointer;
  transition: background .5s;
}

.main .container {
  margin: 80px auto;
}

.main img {
  height: 190px;
  float: left;
  margin: 0 50px 20px 0;
}

.main h2 {
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.main p {
  font-weight: 100;
  padding-bottom: 20px;
}

.jumbotron {
  height: 600px;
  background: url(../img/jumbotron.jpg) no-repeat center center;
  background-size: cover;
  text-align: right;
}

.jumbotron .container {
  position: relative;
  top: 200px;
}