html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}

table { 
  border-collapse: collapse; 
  border-spacing: 0; 
}

td, th, caption { 
  font-weight: normal; 
  text-align: left; 
}

img, fieldset { 
  border: 0; 
}

ol { 
  padding-left: 1.4em; 
  list-style: decimal; 
}

ul { 
  padding-left: 1.4em;
  list-style:square; 
}

q:before, q:after { 
  content:''; 
}

body {
  font-weight: 100;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 940px;
}

.header {
	height: 800px;
	background: url(img/header.jpeg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.header h1 {
  font-weight: 600;
  font-size: 130px;
  color: #fff;
  font-family: Arial, serif;
  text-transform: uppercase;
  padding-top: 230px;
  padding-bottom: 80px;
}

.header p {
  font-size: 30px;
  color: #fff;
  font-family: Arial, serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 50px;
}

.header a {
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-family: Arial, serif;
  letter-spacing: 1px;
  padding: 20px 20px;
  margin-top: 50px;
}

